html {
  font: 100%/1 Georgia;
}

body {
  font-size: 90%;
  background-color: #cec8ef;
  max-width: 48em;
  padding: 0 1rem;
  margin: 1rem auto;
}

h1 {
  font-size: 2em;
  text-align: center;
  font: georgia;
}

h2 {
  font-size: 1em;
  font-color:#cc919a;
}
  
@media (prefers-reduced-motion: no-preference) {
  
  html {
    scroll-behavior: smooth;
  }

}
 ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFCCE5;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #e6e6fa;}

ul.topnav li a.active {background-color: #e6e6fa;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
} 

a:link {
  color: #342211;
  text-decoration: none;
  font-size: 1em; 
}
a:visited {
  color: #342211;
}
a:hover {
  background-color: #d2b48c;
}
a:active {
  color: #342211;
}
