html {
  font: 100%/1 Georgia;
}

body {
  font-size: 90%;
  background-color: #E6E6FA;
  max-width: 48em;
  padding: 0 1rem;
  margin: 1rem auto;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  font-family: 'Qwigley', cursive;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.05em;
  line-height: 1.5em;
}
  
img {
  width: auto;
  max-width: 90%;
  height: auto;
  vertical-align: middle;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.figure summary {
  visibility: hidden;
}

.figure summary img {
  visibility: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  
@media (prefers-reduced-motion: no-preference) {
  
  html {
    scroll-behavior: smooth;
  }

}
 ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E0FFFF;
}

ul.topnav li {float: middle;}

ul.topnav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #e6e6fa;}

ul.topnav li a.active {background-color: #e6e6fa;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
} 
